@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small;

}




.box{
    background-color: #9f9f9f27;
}

.mycolor{
  color:#21DB00;
}
.myBackground{
  background-color:#3B353A;
}
.myBackground2{
  background-color:#01080e;
}

.myborder{
 border: 1px solid #CCF2E5;
}

.button1{
    background-color:#CCF2E5;
}

 
  #sidebar-wrapper {
    min-height: 100vh;
    min-width: 15rem;
    margin-left: -15rem;
    transition-duration: 1s;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    min-width: 15rem;
    transition-duration: 1s;
  }
  
  #page-content-wrapper {
    width:100%
   

  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  

  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  #menu-toggle{
    cursor: pointer;
  }
 
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0; 
    }
  
    #page-content-wrapper {
      
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  @media (min-width: 1200px) {
    .appointment-table{
      width: 100%;
    }
  }







a{
  cursor: pointer !important;
}

.invalid{
  background-color: rgba(255, 0, 0, 0.1);  
  border: 1px solid red ;
}


