
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
 
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  color: #848484;
  font-size: 16px;
  line-height: 1.65;
}
.own-font{
  font-family: 'Fredoka One', cursive !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
}


.btn-main {
  background: #21DB00;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 6px;
}
.btn-main:hover {
  color: rgb(7, 246, 63);
}



.section {
  padding: 100px 0;
}

.btn:focus {
  color: #ddd;
}
.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.title {
  padding-bottom: 50px;
  overflow: hidden;
}
.title h2 {
  font-weight: 600;
  font-size: 35px;
  color: #232323;
}
.title p {
  color: #848484;
  margin: 0 auto;
}
.title.title-white h2 {
  color: #fff;
}

.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #28ABE3;
}

.bg-gray {
  background: #f9f9f9;
}

.logo{
  display: inline-block;
}



/*=================================================================
  Navigation
==================================================================*/

.navigation .dropdown-toggle::before, .navigation .dropdown-toggle::after {
  display: none;
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link {
  color:#21DB00;
  font-size: 14px;
  line-height: 26px;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out 0s;
}
.nav-link:focus{
    color: #ddd;
}
.navigation .navbar-light .navbar-nav .nav-item .nav-link:hover, .navigation .navbar-light .navbar-nav .nav-item .nav-link:active, .navigation .navbar-light .navbar-nav .nav-item .nav-link:focus {
  background: none;
  color: #f1f3f4;
}



.navigation .dropdown-menu {
    text-align: center;
    width: 100%;
    border:0px;
}
@media (max-width: 991px) {
  .navigation {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff;
  }
  .navigation .navbar-light .navbar-nav .nav-item .nav-link {
    color: #000;
  }
  .navigation .navbar-light .navbar-toggler {
    color:#101110;
    border-color: #21DB00;
  }
  .login{
    display: none;
  }
}





.hero-area {
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.slider-item::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.slider-item .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.slider-item h1 {
  color: #fff;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .slider-item h1 {
    font-size: 48px;
    line-height: 52px;
  }
}
@media (max-width: 480px) {
  .slider-item h1 {
    font-size: 38px;
    line-height: 46px;
  }
}
.slider-item p {
  color: #fff;
  margin-bottom: 20px;
}


